body {
    font-family: Montserrat, Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ddc5a9;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 50px;
}

h1 {
    font-family: 'Great Vibes', sans-serif;
    font-size: 3em;
    color: #8894b7;
    margin-bottom: 10px;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 2em;
    color: #f5c74d;
    margin-bottom: 10px;
}

.details {
    font-size: 1.5em;
    color: #8894b7;
    margin-bottom: 20px;
}

.date-location {
    font-size: 1.2em;
    color: #8894b7;
    margin-bottom: 30px;
}
